<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kinesics">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.kinesics.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.kinesics.WelcomeActivity"
            android:theme="@style/WelcomeActivity"></activity>

        <activity
            android:name="com.example.kinesics.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

    <uses-permission android:name="android.permission.CAMERA" />0

</manifest>